<div id="body">
    <h1>Edit a Product</h1>
    <form (submit)="editProduct()" >
      <div *ngIf="errors.length > 0" >
          <div id="errors" *ngFor="let error of errors" >
            <p class="red">{{error}}</p>
          </div>
      </div>
      <div id="leftside">
        <h2>Title</h2>
        <h2>Price</h2>
        <h2>Image url</h2>
      </div>
      <div id="rightside">
        <input type="text" name="titleField" [(ngModel)]="product.title" >
        <input type="number" name="priceField" [(ngModel)]="product.price" >
        <input type="text" name="urlField" [(ngModel)]="product.imgUrl" >
        <input type="submit" value="Create">
        <button (click)="clearForm()">Cancel</button>
      </div>
    </form>
  </div>
  